snippet TMP "LaTeX Template" bA
\documentclass[uplatex,a4j,12pt]{jsarticle}
\begin{document}

\title{${1}}
\author{${2}}
\maketitle

${0}

\end{document}
endsnippet
snippet SSE "\section" bA
\section{${1}}
${0}
endsnippet
snippet SSS "\subsection" bA
\subsection{${1}}
${0}
endsnippet

snippet BKT "booktabs" bA
\usepackage{booktabs}
endsnippet
