[submodule "zsh/zshrc"]
	path = zsh/zshrc
	url = ../zshrc.git
	branch = main
[submodule "X/Xresources"]
	path = X/Xresources
	url = ../Xresources
	branch = main
[submodule "Xresources"]
	path = Xresources
	url = ../Xresources
	branch = main
[submodule "vimrc"]
	path = vimrc
	url = ../vimrc
	branch = main
