.app-columns-container section:nth-last-of-type(1){
    width:1780px;
}
.app-columns-container section:nth-last-of-type(1) article{
    display:inline-block;
    width:350px;
    height:350px;
}
.app-columns-container section:nth-last-of-type(1) .activity-header{
    display:none;
}
.app-columns-container section:nth-last-of-type(1) .js-tweet{
    display:none;
}

.app-columns-container section:nth-last-of-type(1) .margin-t--20{
    margin-top:0;
}

.app-columns-container section:nth-last-of-type(1) .item-box-full-bleed{
    margin-top:0;
}
.MarqueeContainer{
    display:none !important;
}
.ansbg{
    color:black !important;
}


.app-columns-container {
    background: transparent;
    /* �J�����̑�g�̑�g */
}

.app-columns-container section article p {
    color: #fff;
    text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;
    /* �c�C�[�g�̋L�� */
}


.app-columns-container section:nth-last-of-type(2) {
    /* �w�i�ɂ���J�����̐ݒ� */
    right:0px;
    margin-right: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}



.app-columns-container section:nth-last-of-type(2) .column-options {
    /* �w�i�ɂ���J�����̏�̌��� */
    height: 0;
}

.app-columns-container section:nth-last-of-type(2) .js-customtimeline-description {
    border: none;
    /* �w�i�J�������R���N�V�����̎��̌��� */
}

.app-columns-container section:nth-last-of-type(2) .js-media-image-link {
    animation:vertical 100s linear infinite alternate !important;

    /* �w�i�J�����̉摜�ݒ� */

}
@keyframes vertical{
    0%
    {background-position:top left ;}
    100%
    {background-position:bottom right ;}
}



.app-columns-container section:nth-last-of-type(2) .scroll-styled-v::-webkit-scrollbar {
    /* �w�i�J�����̃X�N���[���o�[ */
    width: 0;
}

.app-columns-container section:nth-last-of-type(2) .tweet {
    /* �w�i�ɂ���J�����̉摜�łȂ����� */
    display: none;
}

.app-columns-container section:nth-last-of-type(2) article {
    /* �w�i�ɂ���J�����̋L�� */
    border-bottom: none;
    height:100vh;
}
.app-columns-container section:nth-last-of-type(2) .item-box-full-bleed{
    /* �w�i�ɂ���J�����̋L���̑�g */
    margin-top:0 !important;
    margin-bottom:0;
}
.app-columns-container section:nth-last-of-type(2) .margin-tm{
    /* �w�i�ɂ���J�����̑�g */
    margin-top:0;
}
.app-columns-container section:nth-last-of-type(2) .item-box{
    /* �w�i�ɂ���J�����̋L���̂��������� */
    padding-top:0;
    padding-bottom:0;
}
.app-columns-container section:nth-last-of-type(2) article .margin-t--20{
    /* �w�i�ɂ���J�����̗]�� */
    margin-top:0 !important;
}
.app-columns-container section:nth-last-of-type(2) .media-grid-2 div:first-of-type{
    /* 2���g�摜�̍ŏ� */
    width:100vw;
}
.app-columns-container section:nth-last-of-type(2) .media-grid-2>.media-image-container:first-child>.media-image {
    /* 2���g�摜�̗]�� */
    right: 0px;
}
.app-columns-container section:nth-last-of-type(2) .media-size-large, .app-columns-container section:nth-last-of-type(2) .media-size-large-height{
    /* �w�i�ɂ���J�����̉摜�̑�g */
    height:100vh;
}
.app-columns-container section:nth-last-of-type(2) .media-size-large-height::after,.app-columns-container section:nth-last-of-type(2) .media-item.media-size-large::after{
    /* �w�i�ɂ���J�����̉摜�Ɋ|����e */
    background-image:none;
}
.app-columns-container section:nth-last-of-type(2) header {
    /* �w�i�ɂ���J�����̃w�b�_�[ */
    display: none;
    border:none;
    height:0;
}

.app-columns-container section:nth-last-of-type(2) .js-column-options-container{
    /* �w�i�ɂ���J�����̐ݒ��� */
    display:none;
}

.app-columns-container section:nth-last-of-type(2) .js-add-to-customtimeline {
    /* �w�i�J�������R���N�V�����̎��̉��̒ǉ��e�L�X�g�{�b�N�X */
    display: none;
}

.app-content:not(.is-open) .js-accounts-column-holder {
    /* �J���Ă��Ȃ����̃A�J�E���g�ڍ� */
    display: none;
}

.app-content {
    background: transparent;
    /* �T�C�h�o�[�łȂ���̑��܂Ƃ� */
}

.app-header {
    background: transparent;
    /* �T�C�h�o�[ */
}
.app-header js-int-scroller li:last-of-child{
    /* �J�����{�^���̍Ō� */
    display:none;
}
.app-navigator {
    background: transparent;
    /* �T�C�h�o�[����3�̃{�^�� */
}

.app-title {
    /* �����̃f�b�N�̃A�C�R�� */
    display: none;
}

.application:not(.is-condensed) .is-open .js-app-columns section:nth-last-of-type(2) {
    /* �c�C�[�g�G���A�������j���[�̎��̔w�i */
    left: -470px;
}

.application:not(.is-condensed) .js-app-columns section:nth-last-of-type(2) {
    /* �����j���[�̏ڍו\�����̔w�i */
    /* left: -200px; */
}
.tweet-button {
    /* �c�C�[�g�{�^�� */
    background: black;
    border: black 1px solid;
    color: white;
}
.tweet-button:active {
    /* �c�C�[�g�{�^���̃A�N�e�B�u */
    box-shadow: 0 0 0 2px transparent, 0 0 0 4px black;
}
.attach-compose-buttons .tweet-button {
    /* �J���Ă���Ƃ��̃c�C�[�g�{�^�� */
    background: transparent;
    border: 1px solid black;
    border-right: none;
    color: black;
}

.attach-compose-buttons .tweet-button:hover {
    /* �J���Ă���Ƃ��̃c�C�[�g�{�^���̃z�[�o�[ */
    border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.app-search-fake{
    /* �����{�^�� */
    border:1px solid black;
    color:black;
    text-shadow:1px 1px 2px gray;
}

.bg-color-twitter-lightest-gray {
    /* �c�C�[�g�G���A�̉��ɂ������ */
    background: transparent;
}

.btn-on-blue {
    /*�摜���c�C�[�g�C�X�P�W���[���CDM�̃{�^�� */
    background: transparent;
}

.column {
    /* �J���� */
    background: transparent;
    margin-right:0;
}

.app-columns-container section .stream-item {
    /* �L���ꗗ�Əڍ׉�� */
    background: transparent;

}
.app-columns-container section :not(.js-tweet-detail) > .stream-item{
    /* �L���ꗗ */
    border-bottom:1px dashed #e1e8ed;
}
.app-columns-container section:nth-last-of-type(2) .stream-item{
    /* �Ō�̃J�����̓{�[�_�[�Ȃ� */
    border-bottom:none;
}
.scroll-styled-v::-webkit-scrollbar-track, .scroll-styled-h::-webkit-scrollbar-track{
    /* �X�N���[���o�[���� */
    border-left-style:dashed;
}
.scroll-styled-v::-webkit-scrollbar-thumb, .scroll-styled-h::-webkit-scrollbar-thumb{
    /* �X�N���[���o�[�p */
    border-radius:0;
}
.app-columns-container section .js-column-content{
    /* �J�����̃w�b�_�[�łȂ����� */
    border-right:1px dashed #e1e8ed;
}
.app-columns-container section:nth-last-of-type(2) .js-column-content,
.app-columns-container section:last-of-type .js-column-contnet{
    /* ���̃J�����͏��� */
    border-right:none;
}
.app-columns-container section .scroll-conversation {
    /* �c�C�[�g�ڍ� */
    background:transparent;
    border-right:1px dashed #e1e8ed;
}
.media-grid-4>.media-image-container:nth-child(-n+2)>.media-image, .media-grid-3-mirror>.media-image-container:nth-child(2)>.media-image, .media-grid-3>.media-image-container:nth-child(2)>.media-image{
    /* �摜�Ԃ̗]���폜 */
    bottom:0;
}
.media-grid-4>.media-image-container:nth-child(2n+1)>.media-image, .media-grid-3>.media-image-container:first-child>.media-image, .media-grid-3-mirror>.media-image-container:nth-child(n+2)>.media-image, .media-grid-2-mirror>.media-image-container:first-child>.media-image, .media-grid-2>.media-image-container:first-child>.media-image{
    /* �摜�Ԃ̗]���폜 */
    right:0;
}
.media-grid-4>.media-image-container:nth-child(2n+2)>.media-image, .media-grid-3>.media-image-container:nth-child(n+2)>.media-image, .media-grid-3-mirror>.media-image-container:first-child>.media-image, .media-grid-2-mirror>.media-image-container:first-child>.media-image, .media-grid-2>.media-image-container:nth-child(2)>.media-image{
    /* �摜�Ԃ̗]���폜 */
    left:0;
}
.media-grid-4>.media-image-container:nth-child(n+3)>.media-image, .media-grid-3-mirror>.media-image-container:nth-child(n+3)>.media-image, .media-grid-3>.media-image-container:nth-child(n+3)>.media-image{
    /* �摜�Ԃ̗]���폜 */
    top:0;
}
.app-columns-container section:first-of-type .scroll-conversation{
    /* �n�߂̃J�����̃c�C�[�g�ڍ� */
    border-left:1px dashed #e1e8ed;
}
.app-columns-container section:first-of-type .js-column-content{
    /* �ŏ��̃J�����̃w�b�_�[�łȂ����� */
    border-left:1px dashed #e1e8ed;
}

.app-columns-container .column-header {
    /* �J�����w�b�_�[ */
    background: transparent;
}

.app-columns-container .column-header .column-type-icon{
    /* �J�����w�b�_�[�̃J�����̃A�C�R�� */
    color:white;
    text-shadow:1px 1px 2px gray;
}
.app-columns-container .column-head-title{
    /* �J�����w�b�_�[�^�C�g�� */
    color:white;
    text-shadow:1px 1px 2px gray;
}
.app-columns-container .column-title-back{
    /* �c�C�[�g�ڍ׎��̖߂�{�^�� */
    text-shadow:1px 1px 2px gray;
    color:white;
}
.app-columns-container .account-link{
    /* �A�J�E���g�� */
    text-shadow:1px 1px 2px gray;
}
.column-nav-item {
    /* �T�C�h�o�[�̃J�����̃A�C�R�� */
    background: transparent;
}

.column-nav-link {
    /* �T�C�h�o�[�̃J�����̃A�C�R���̕��� */
    color: black;
    text-shadow:1px 1px 2px gray;
}

.nav-user-info .fullname{
    /* �T�C�h�o�[�̎��g�̖��O */
    text-shadow:1px 1px 2px gray;
}

.app-nav-link{
    /* �T�C�h�o�[�̃J�����ǉ��Ƃ��̕��� */
    color:black;
    text-shadow:1px 1px 2px gray;
}
.js-header-add-column {
    /* �T�C�h�o�[�̃J�����ǉ��{�^�� */
    margin-top:0;
}
.app-nav-tab{
    /* �T�C�h�o�[�g���̃{�^�� */
    color:black;
    text-shadow:1px 1px 2px  gray;
}

.with-nav-border-t:before{
    /* �T�C�h�o�[�̃J�����{�^���Ƒ��̉��̃{�^���̋�؂� */
    display:none;
}
.js-account-settings-login-account .link-complex-target{
    /* �T�C�h�o�[���g�̃A�J�E���g�\���̎��g�̖��O */
    color:white;
    text-shadow:1px 1px 2px gray;
}
.compose {
    background: transparent;
    /* �c�C�[�g�G���A */
    transition: 200ms opacity linear;
}

.compose-text-title{
    /* �c�C�[�g�G���A�̃^�C�g�� */
    color:white;
    text-shadow:1px 1px 2px gray;
}

.is-open .app-columns-container section:nth-last-of-type(2) {
    /* �J���Ă��鎞�̔w�i */
    left: -320px;
}

.is-open .compose {
    /* �J���Ă���Ƃ��̃c�C�[�g�G���A */
    opacity: 1;
}

.js-account-settings-scroll-container .bg-color-twitter-white {
    background: transparent;
    /* ���g�̃A�J�E���g�̐��� */
}

.js-app-content:not(.is-open) .compose {
    /* �J���Ă��Ȃ��Ƃ��̃c�C�[�g�G���A */
    opacity: 0;
}

.js-column-message {
    /* �J�����̃t�B���^�[�̕\�� */
    display: none;
}

.js-contributor-manager-container {
    /* ���̊D�F */
    display: none;
}

.js-signin-ui:after {
    color: black;
    /* �I�[�v�j���O */
    content: "TweetDeck";
    font-size: 18px;
    font-weight: bold;
}

.js-team-invitations-container {
    /* ����Team Invitor */
    display: none;
}

.media-caret {
    /* �摜�̎O�p */
    opacity: 0;
}

.needs-scroll-bottom-offset.scroll-styled-h {
    /* ���̃X�N���[���o�[�̌��ԍ폜 */
    bottom:0;

}
.Button.Button--primary[disabled], button.Button--primary[disabled], button[disabled].btn-fav.s-favorited, .s-following .follow-btn:hover button[disabled].following-text, input.Button--primary[disabled][type="button"], input[disabled][type="button"].btn-fav.s-favorited, .s-following .follow-btn:hover input[disabled][type="button"].following-text, button.Button--primary.is-disabled:focus, button.is-disabled.btn-fav.s-favorited:focus, .s-following .follow-btn:hover button.is-disabled.following-text:focus, input.Button--primary[type="button"].is-disabled:focus, input[type="button"].is-disabled.btn-fav.s-favorited:focus, .s-following .follow-btn:hover input[type="button"].is-disabled.following-text:focus, .Button[disabled].btn-fav.s-favorited, .follow-btn.is-disabled button.btn-fav.s-favorited, .follow-btn.is-disabled button.Button--primary, .follow-btn.is-disabled .s-following .follow-btn:hover button.following-text, .s-following .follow-btn:hover .follow-btn.is-disabled button.following-text, .s-following .follow-btn:hover .Button[disabled].following-text, .Button.Button--primary.is-disabled, button.Button--primary.is-disabled, button.is-disabled.btn-fav.s-favorited, .s-following .follow-btn:hover button.is-disabled.following-text, input.Button--primary.is-disabled[type="button"], input.is-disabled[type="button"].btn-fav.s-favorited, .s-following .follow-btn:hover input.is-disabled[type="button"].following-text, .Button.is-disabled.btn-fav.s-favorited, .s-following .follow-btn:hover .Button.is-disabled.following-text, fieldset[disabled] .Button.Button--primary, fieldset[disabled] button.Button--primary, fieldset[disabled] button.btn-fav.s-favorited, fieldset[disabled] .s-following .follow-btn:hover button.following-text, .s-following .follow-btn:hover fieldset[disabled] button.following-text, fieldset[disabled] input.Button--primary[type="button"], fieldset[disabled] input[type="button"].btn-fav.s-favorited, fieldset[disabled] .s-following .follow-btn:hover input[type="button"].following-text, .s-following .follow-btn:hover fieldset[disabled] input[type="button"].following-text, fieldset[disabled] .Button.btn-fav.s-favorited, fieldset[disabled] .s-following .follow-btn:hover .Button.following-text, .s-following .follow-btn:hover fieldset[disabled] .Button.following-text, .ButtonGroup--primary>.Button[disabled], .ButtonGroup--primary>button[disabled], .ButtonGroup--primary>input[disabled][type="button"], .ButtonGroup--primary>button.is-disabled:focus, .ButtonGroup--primary>input[type="button"].is-disabled:focus, .follow-btn.is-disabled .ButtonGroup--primary>button, .ButtonGroup--primary>.Button.is-disabled, .ButtonGroup--primary>button.is-disabled, .ButtonGroup--primary>input.is-disabled[type="button"], fieldset[disabled] .ButtonGroup--primary>.Button, fieldset[disabled] .ButtonGroup--primary>button, fieldset[disabled] .ButtonGroup--primary>input[type="button"], .ButtonGroup--primary>.ButtonGroup>.Button[disabled], .ButtonGroup--primary>.ButtonGroup>button[disabled], .ButtonGroup--primary>.ButtonGroup>input[disabled][type="button"], .ButtonGroup--primary>.ButtonGroup>button.is-disabled:focus, .ButtonGroup--primary>.ButtonGroup>input[type="button"].is-disabled:focus, .follow-btn.is-disabled .ButtonGroup--primary>.ButtonGroup>button, .ButtonGroup--primary>.ButtonGroup>.Button.is-disabled, .ButtonGroup--primary>.ButtonGroup>button.is-disabled, .ButtonGroup--primary>.ButtonGroup>input.is-disabled[type="button"], fieldset[disabled] .ButtonGroup--primary>.ButtonGroup>.Button, fieldset[disabled] .ButtonGroup--primary>.ButtonGroup>button, fieldset[disabled] .ButtonGroup--primary>.ButtonGroup>input[type="button"]{
    /* �e��{�^�����g�p�s�̎� */
}










.tweet-detail-wrapper {
    background: transparent;
    /* �c�C�[�g�ڍׂ̎��̕����̏� */
}

body {
    background-color: white;
}

img.spinner-centered {
    /* �I�[�v�j���O�̊ۂ��G�̍폜 */
    display: none;
}



