!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.geometry:             96x32
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         true
URxvt.visualBell:           true
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:Dejavu Sans Mono-9,\
                            xft:IPAGothic,\
                            xft:Terminess Powerline:size=12
URxvt.letterSpace:          -1

Rxvt.depth:                32
URxvt.color0:              #2E3436 /* black */
URxvt.color1:              #a40000 /* red */
URxvt.color2:              #4E9A06 /* green */
URxvt.color3:              #C4A000 /* yellow */
URxvt.color4:              #5687C6 /* blue */
URxvt.color5:              #86618C /* magenta */
URxvt.color6:              #CE5C00 /* cyan */
URxvt.color7:              #BABDB9 /* white */
URxvt.color8:              #888A86 /* bright black */
URxvt.color9:              #EF2929 /* bright red */
URxvt.color10:             #8AE234 /* bright green */
URxvt.color11:             #FCE94F /* bright yellow */
URxvt.color12:             #83AFDF /* bright blue */
URxvt.color13:             #BE8FB9 /* bright magenta */
URxvt.color14:             #FCAF3E /* bright cyan */
URxvt.color15:             #EEEEEC /* bright white */
URxvt.foreground:          [90]#ebdbb2 
URxvt.background:          [80]#272727 
URxvt.colorIT:             [90]#8ec07c 
URxvt.colorBD:             [90]#d5c4a1 
URxvt.colorUL:             [90]#83a598 
URxvt.scrollColor:         [90]#504945 

URxvt.perl-ext-common:      ...,tabbed,xim-onthespot,...
URxvt.tabbed.tabbar-fg:     7
URxvt.tabbed.tabbar-bg:     0
URxvt.tabbed.tab-fg:     0
URxvt.tabbed.tab-bg:     15

URxvt.inputMethod:          fcitx
URxvt.preeditType:          OnTheSpot
