!! $HOME/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.geometry:             96x32
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         true
URxvt.visualBell:           true
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:Source\ Code\ Pro,\
                            xft:Source\ Code\ Pro\ for\ Powerline-11,\
                            xft:Font\ Awesome\ 5\ Free,\
                            xft:Standard Symbols L,\
                            xft:PowerlineSymbols,\
                            xft:Hack,\
                            xft:IPAGothic,\
                            xft:Unifont

URxvt.color0:              #282a2e /* black */
URxvt.color1:              #A54242 /* red */
URxvt.color2:              #8C9440 /* green */
URxvt.color3:              #DE935F /* yellow */
URxvt.color4:              #5F819D /* blue */
URxvt.color5:              #85678F /* magenta */
URxvt.color6:              #5E8D87 /* cyan */
URxvt.color7:              #707880 /* white */
URxvt.color8:              #373B41 /* bright black */
URxvt.color9:              #CC6666 /* bright red */
URxvt.color10:             #B5BD68 /* bright green */
URxvt.color11:             #F0C674 /* bright yellow */
URxvt.color12:             #81A2BE /* bright blue */
URxvt.color13:             #B294BB /* bright magenta */
URxvt.color14:             #8ABEB7 /* bright cyan */
URxvt.color15:             #C5C8C6 /* bright white */
URxvt.foreground:          #C5C8C6
URxvt.background:          #1D1F21
URxvt.colorIT:             #8EC07C
URxvt.colorBD:             #D5C4A1
URxvt.colorUL:             #83A598
URxvt.scrollColor:         #504945

URxvt.perl-ext-common:      ...,xim-onthespot,...
URxvt.inputMethod:          fcitx
URxvt.preeditType:          OnTheSpot
