@define-color background   #000000;
@define-color foreground   #FFFFFF;
@define-color secondary    #333333;
@define-color black        #000000;
@define-color red          #FF3131;
@define-color green        #39FF14;
@define-color yellow       #FFF01F;
@define-color blue         #2323FF;
@define-color magenta      #BC13FE;
@define-color cyan         #00FFFF;
@define-color white        #FFFFFF;

* {
    font-family: "JetBrainsMono Nerd Font", "monospace";
    font-size: 10pt;
}

window {
    background-color: @background;
    color: @white;
}

#workspaces button {
    background: @background;
    color: @white;

    margin: 3px;
    padding: 1px 8px;
    transition: 0.3s;
    box-shadow: 0 0 0 @yellow;
}

#workspaces button.focused {
    background-color: @foreground;
    color: @background;
    box-shadow: 0 0 1em @yellow;
}

#workspaces button.inactive {
    background-color: @foreground;
}

#workspaces button.urgent {
    background-color: @red;
    color: @white;
}

#mode {
    background-color: @magenta;
    color: @blue;
    padding: 0 8px;
    border: 1px solid @background;
    border-radius: 5px;
}

#custom-memory,
#battery,
#clock,
#network {
    border-left: 1px solid @secondary;
    padding-right: 1em;
    margin-left: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

#custom-memory {
    padding-left: 2em;
}

#clock {
    padding-right: 1em;
}

#custom-memory.green {
    color: @green;
}

#custom-memory.yellow {
    color: @yellow;
}

#custom-memory.orange {
    color: @magenta;
}

#custom-memory.red {
    color: @red;
}
